// Generic colors
$color-black: #000000;
$color-white: #FFFFFF;

// Project specific colors.
$color-alpha: #D8D8D8;
$color-beta: #8A8D08;
$color-gamma: #E8E8E8;
$color-delta: #F8F8F8;
$color-omega: #ECECEC;